<div data-animation="default" data-collapse="medium" data-duration="500" data-easing="ease" data-easing2="ease-out-quad" role="banner" class="navbar w-nav">
        <div class="page-padding">
          <div class="navbar-wrapper">
            <div class="container-large">
              <div class="navbar-component">
                <nav role="navigation" id="w-node-aebff609-7b3f-1229-e35c-e8c536ad3302-36ad32fd" class="nav-menu w-nav-menu">
                  <div class="nav-menu-list">
                    <a href="{{ links.4ab7d00f }}" class="nav-link w-inline-block">
                      <div class="button-text-wrapper">
                        <div class="button-text">{{ texts.-6466d502 }}</div>
                        <div class="button-text">{{ texts.-6466d502 }}</div>
                      </div>
                    </a>
                    <a href="{{ links.634882d6 }}" class="nav-link w-inline-block">
                      <div class="button-text-wrapper">
                        <div class="button-text">{{ texts.13ede05 }}</div>
                        <div class="button-text">{{ texts.13ede05 }}</div>
                      </div>
                    </a>
                    <a href="{{ links.55b8e8be }}" class="nav-link w-inline-block">
                      <div class="button-text-wrapper">
                        <div class="button-text">{{ texts.3c2336d }}</div>
                        <div class="button-text">{{ texts.3c2336d }}</div>
                      </div>
                    </a>
                    <div id="w-node-c083fbb6-5596-a7c0-c4d7-d8981d18245d-36ad32fd" class="show-tablet">
                      <a href="{{ links.-5c364340 }}" class="nav-link w-inline-block">
                        <div class="button-text-wrapper">
                          <div class="button-text">{{ texts.-b54e851 }}</div>
                          <div class="button-text">{{ texts.3c2336d }}</div>
                        </div>
                      </a>
                    </div>
                  </div>
                </nav>
                <a href="{{ links.2f }}" id="w-node-aebff609-7b3f-1229-e35c-e8c536ad3315-36ad32fd" aria-current="page" class="brand w-nav-brand w--current"><img src="{{ images.-27415156.url }}" loading="lazy" alt="{{ images.-27415156.alt | trim | escape }}"></a>
                <div id="w-node-_3f3ab439-5de4-e658-c179-a900436a30b3-36ad32fd" class="navbar-right">
                  <div id="w-node-aebff609-7b3f-1229-e35c-e8c536ad331a-36ad32fd" class="navbar-right-links">
                    <a href="{{ links.-5c364340 }}" class="nav-link w-inline-block">
                      <div class="button-text-wrapper">
                        <div class="button-text">{{ texts.-3055b6cc }}</div>
                        <div class="button-text">{{ texts.-3055b6cc }}</div>
                      </div>
                    </a>
                    <a href="{{ links.4ab7d00f }}" class="button nav-button w-inline-block">
                      <div class="button-text-wrapper">
                        <div class="button-text">{{ texts.-8763105 }}</div>
                        <div class="button-text">{{ texts.-8763105 }}</div>
                      </div>
                      <div class="button-background"></div>
                    </a>
                  </div>
                  <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" data-wf-cart-duration="450" class="w-commerce-commercecartwrapper">
                    <a href="{{ links.23 }}" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart-button w-inline-block">
                      <div style="display:none" data-count-hide-rule="always" class="w-commerce-commercecartopenlinkcount">{{ item_count }}</div>
                      <div class="cart-icon-wrapper"><img src="{{ images.-6e962729.url }}" loading="lazy" alt="{{ images.-6e962729.alt | trim | escape }}" class="cart-icon"></div>
                    </a>
                    <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar cart-wrapper">
                      <div data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-container">
                        <div class="w-commerce-commercecartheader cart-header">
                          <a href="{{ links.23 }}" data-node-type="commerce-cart-close-link" class="w-commerce-commercecartcloselink close-button w-inline-block"><img src="{{ images.f144aa.url }}" loading="lazy" alt="{{ images.f144aa.alt | trim | escape }}"></a>
                          <h4 id="w-node-_92936c64-dc94-dd82-d15e-3f0e123ac632-36ad32fd" class="w-commerce-commercecartheading text-size-regular">{{ texts.7fb4e831 }}</h4>
                        </div>
                        <div class="w-commerce-commercecartformwrapper cart-form-wrapper">
                          <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform default-state-2">
                            <script type="text/x-wf-template" id="wf-template-92936c64-dc94-dd82-d15e-3f0e123ac638"><div data-node-type="cart-item" class="cart-item w-commerce-commercecartitem" id=""><div class="cart-image-wrapper" id=""><a data-node-type="cart-remove-link" class="remove-button" href="#" id="" data-product-id="<%= it.uniqueId %>"><img data-node-type="image" src="https://uploads-ssl.webflow.com/630a46b33591b5d49f6df4b8/630a46b33591b509e96df5a5_multiply---filled(24x24)%402x.svg" loading="lazy" width="auto" height="auto" id=""></a><img data-node-type="cart-item-image" class="checkout-image w-commerce-commercecartitemimage" src="<%= it.image %>"></div><div data-node-type="cart-item-info" class="cart-item-info w-commerce-commercecartiteminfo" id=""><div data-node-type="cart-product-name" class="text-size-regular text-weight-normal w-commerce-commercecartproductname"><%= it.name %></div><ul class="option-list-3 w-commerce-commercecartoptionlist" id=""><% Object.entries(it.options).forEach( data =>  { %><li data-node-type="cart-option-list-item" class="cart-option-item" id=""><span data-node-type="cart-option-list-item-label" class="text-size-small text-color-grey"><%= data[0] %></span><span class="text-size-small text-color-grey" id="">: </span><span data-node-type="cart-option-list-item-value" class="text-size-small text-color-grey"><%= data[1] %></span></li><% }) %></ul><div class="cart-item-bottom" id=""><div class="text-size-small" id=""><%= it.price %></div><div class="cart-quantity-wrapper" id=""><div class="text-size-small" id="">Seats</div><input class="w-commerce-commercecartquantity cart-quantity" name="<%= it.uniqueId %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></div></div></div></script>
                            <div class="w-commerce-commercecartlist cart-list" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-92936c64-dc94-dd82-d15e-3f0e123ac638"></div>
                            <div class="w-commerce-commercecartfooter cart-footer">
                              <div class="w-commerce-commercecartlineitem cart-line-item">
                                <div class="text-size-regular">{{ texts.-76f396dc }}</div>
                                <div class="w-commerce-commercecartordervalue text-size-regular text-weight-medium">{% money  items_subtotal_price  %}</div>
                              </div>
                              <div>
                                
                                <a href="{{ links.5032f721 }}" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton button-submit" data-loading-text="Hang Tight...">{{ texts.-7941186e }}</a>
                              </div>
                            </div>
                          </form>
                          <div class="w-commerce-commercecartemptystate cart-empty-state">
                            <div class="empty-component">
                              <div class="text-size-regular">{{ texts.14d3195c }}<br>{{ texts.83fff09 }}</div>
                              <a href="{{ links.4ab7d00f }}" class="button w-inline-block">
                                <div class="button-text-wrapper">
                                  <div class="button-text">{{ texts.-8763105 }}</div>
                                  <div class="button-text">{{ texts.-8763105 }}</div>
                                </div>
                                <div class="button-background"></div>
                              </a>
                            </div>
                          </div>
                          <div style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate error-message">
                            <div class="text-size-small w-cart-error-msg" data-w-cart-quantity-error="Something went wrong when adding this cohort." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ texts.15359669 }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="w-node-aebff609-7b3f-1229-e35c-e8c536ad3318-36ad32fd" class="menu-button w-nav-button">
                    <div class="menu-button-icon"><img src="{{ images.-3f6b1309.url }}" loading="lazy" alt="{{ images.-3f6b1309.alt | trim | escape }}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>