<section class="section-banner">
        <div class="page-padding">
          <div class="container-large">
            <div class="padding-bottom padding-xhuge">
              <div data-w-id="dfe4e539-4e4f-c37c-7503-97a20f503869" class="banner-component">
                <div class="about-banner-background">
                  <div class="overlay"></div>
                </div>
                <div class="banner-content">
                  <div class="banner-strip">
                    <div class="about-banner-text">
                      <div>{{ texts.-585ca68e }}</div>
                      <div>{{ texts.-585ca68e }}</div>
                      <div>{{ texts.-585ca68e }}</div>
                      <div>{{ texts.-585ca68e }}</div>
                      <div>{{ texts.-585ca68e }}</div>
                    </div>
                  </div>
                  <div id="w-node-dfe4e539-4e4f-c37c-7503-97a20f503870-0f503865" class="banner-description">
                    <div class="margin-bottom margin-medium">
                      <p class="text-size-large text-color-white">{{ texts.-290a6c82 }}</p>
                    </div>
                    <a href="{{ links.4ab7d00f }}" class="button white-button w-inline-block">
                      <div class="button-text-wrapper">
                        <div class="button-text">{{ texts.-8763105 }}</div>
                        <div class="button-text">{{ texts.-8763105 }}</div>
                      </div>
                      <div class="button-background"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>