<div class="about-banner-text">
                      <div>{{ texts.-585ca68e }}</div>
                      <div>{{ texts.-585ca68e }}</div>
                      <div>{{ texts.-585ca68e }}</div>
                      <div>{{ texts.-585ca68e }}</div>
                      <div>{{ texts.-585ca68e }}</div>
                    </div>